*.log
html/wp-config.php
html/wp-content/advanced-cache.php
html/wp-content/backup-db/
html/wp-content/backups/
html/wp-content/blogs.dir/
html/wp-content/cache/
html/wp-content/upgrade/
html/wp-content/uploads/
html/wp-content/wp-cache-config.php
html/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.*.env
./db/*
