version: '2'
services:
  wordpress:
    env_file: .nateandxtina.com.env
    depends_on:
      - db
    image: wordpress:latest
    restart: always
    links:
      - db:mysql
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./code:/code
      - ./html:/var/www/html
    environment:
      - VIRTUAL_HOST=nateandxtina.com, www.nateandxtina.com
      #- HTTPS_METHOD=noredirect
      #- VIRTUAL_PROTO=https
    networks:
      - internal
      - nginx-proxy
  db:
    env_file: .nateandxtina.com.env
    volumes:
       - "./db:/var/lib/mysql"
    image: mariadb
    restart: always
    networks:
      - internal
  phpmyadmin:
    depends_on:
      - db
    restart: always
    env_file: .nateandxtina.com.env
    image: phpmyadmin/phpmyadmin
    links:
        - db:mysql
    image: mariadb
    restart: unless-stopped
    networks:
      - internal

networks:
    internal:
    nginx-proxy:
        external: true
