version: '2'
services:
  wordpress:
    image: wordpress:latest
    env_file: .nateandxtina.com.env
    depends_on:
      - db
    restart: always
    links:
      - db:mysql
    volumes:
     # - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./code:/code
      - ./html:/var/www/html
    expose:
      - 80
      - 443
    networks:
      - internal
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=nateandxtina.com, www.nateandxtina.com
      - COMPOSE_PROJECT_NAME=nateandxtina.com
  db:
    image: mariadb
    env_file: .nateandxtina.com.env
    restart: always
    volumes:
       - "./db:/var/lib/mysql"
    networks:
      - internal
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    env_file: .nateandxtina.com.env
    depends_on:
      - db
    restart: always
    links:
        - db:mysql
    networks:
      - internal

networks:
    internal:
    nginx-proxy:
        external: true
